 .u-section-1 {
  background-image: url("images/fff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 900;
  margin: 80px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 138px;
  height: 300px;
  margin: -1128px auto 877px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-image-1 {
    height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1110px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 973px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 367px;
  margin: -114px -706px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 874px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-gallery-1 {
  height: 685px;
  width: 1140px;
  margin: -677px auto 0 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-gap: 86px 86px;
  grid-template-columns: auto auto auto;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 5rem;
  margin: 31px -54px 46px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-2 .u-gallery-1 {
    height: 565px;
    width: 940px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-gallery-1 {
    height: 1298px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3209px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2921px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2127px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1839px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  text-transform: none;
  margin: 60px 447px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 357px;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 0 0;
}

.u-section-3 .u-image-1 {
  width: 285px;
  height: 308px;
  margin: 0 auto 0 -12px;
}

.u-section-3 .u-group-1 {
  width: 299px;
  min-height: 323px;
  height: auto;
  margin: -308px 7px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.1875rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0 0 0 25px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 0 25px 0 12px;
}

.u-section-3 .u-container-layout-3 {
  padding: 29px 0 0;
}

.u-section-3 .u-image-2 {
  width: 285px;
  height: 308px;
  margin: 0 auto 0 -12px;
}

.u-section-3 .u-group-2 {
  width: 299px;
  min-height: 323px;
  height: auto;
  margin: -308px 7px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.1875rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0 0 0 25px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 0 25px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 409px;
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 368px;
  }

  .u-section-3 .u-image-1 {
    width: 185px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-2 {
    width: 185px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 189px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
  }

  .u-section-3 .u-group-1 {
    width: 310px;
  }

  .u-section-3 .u-image-2 {
    width: 360px;
  }

  .u-section-3 .u-group-2 {
    width: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-1 {
    width: 200px;
  }

  .u-section-3 .u-image-2 {
    width: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 139px;
    height: 163px;
  }

  .u-section-3 .u-group-1 {
    width: 191px;
    min-height: 350px;
    margin-top: -162px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 139px;
    height: 163px;
  }

  .u-section-3 .u-group-2 {
    width: 191px;
    min-height: 350px;
    margin-top: -162px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-shape-1 {
  width: 570px;
  margin-bottom: 0;
  top: 0;
  left: 285px;
}

.u-section-4 .u-text-1 {
  line-height: 1.4;
  font-size: 3.75rem;
  font-weight: 900;
  margin: 60px 4px 0 0;
}

.u-section-4 .u-list-1 {
  width: 1325px;
  margin: 209px auto 0 -20px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 387px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 300;
  font-family: "ADLaM Display";
  font-size: 2.5rem;
  margin: 287px auto 0 30px;
}

.u-section-4 .u-image-1 {
  width: 555px;
  height: 555px;
  margin: -671px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 470px;
    margin-bottom: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-4 .u-shape-1 {
    width: 360px;
    margin-bottom: initial;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-4 .u-shape-1 {
    width: 270px;
    margin-bottom: initial;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-shape-1 {
    width: 170px;
    margin-bottom: initial;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-5 {
  min-height: 1004px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 91px;
  margin-bottom: -173px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 892px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 74px 276px 0 30px;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  margin: 20px 896px 0 30px;
}

.u-section-5 .u-image-1 {
  width: 505px;
  height: 440px;
  object-position: 0% 50%;
  margin: -440px 115px 0 auto;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 20px auto 0 30px;
  padding: 0 71px 0 69px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 193px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 775px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 736px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 280px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 726px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 410px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 18.05% 50%;
    min-height: 159px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 132px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 506px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 122px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 48px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 326px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 92px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 485px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 126px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 297px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 163px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 58px;
  }
}